<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">THE MOVE DB</a>
    </div>

    <div  class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="movies">MOVIES</a></li>
        <li><a routerLink="/people">PEOPLE</a></li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div>
  </div>
  <input class="form-control border-secondary py-2" id="name" type="search"
  placeholder="search for a movie or person..." formAction="/search"
  (keyup)="onKey($event)">
</nav>
