<h3 *ngIf="searching">Searching...</h3>
<div *ngIf="notsearching">
  <button (click)="onClick($event)" [ngClass]="{'fill-data-btn':
  people == true }">People
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <button (click)="onClick($event)" [ngClass]="{'fill-data-btn': people ==
  false }">Movies
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
</div>
<div class="row">
    
  </div>
<div class="col-md-3" *ngFor="let item of display">
  <div class="thumbnail">
    <a [routerLink]="['/', oftype, item.id]">
      <img src='http://image.tmdb.org/t/p/original{{item.image}}'
      alt="{{item.name}}" style="width:200px;height:300px;">
      <div class="caption">
        "{{item.name}}"
      </div>
    </a>
  </div>
</div>
